* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "interregular", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width: 100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display: none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

@font-face {
    font-family: 'Inter-Thin';
    src: url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Semibold';
    src: url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Light';
    src: url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('Inter-ExtraLight.woff2') format('woff2'),
        url('Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Black';
    src: url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

header {
	
}
header section.wrapper {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header section.wrapper h1.logo {
	width: 170px;
}
header section.wrapper h1.logo a.logo {
	width: 100%;
}
header section.wrapper h1.logo a.logo img {
	width: 100%;
}
header section.wrapper nav.middle {}
header section.wrapper nav.middle ul {
	display: flex;
	justify-content: space-between;
}
header section.wrapper nav.middle ul li {
	margin-right: 50px;
}
header section.wrapper nav.middle ul:last-child {
	margin-right: 0;
}
header section.wrapper nav.middle ul li a {
	font-size: 16px;
	font-weight: 500;
}
header section.wrapper nav.right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header section.wrapper nav.right div.search {
	margin-right: 30px;
	width: 20px;
}
header section.wrapper nav.right div.cart {
	background: #fe8e0b;
	width: 40px;
	height: 38px;
	border-radius: 6px;
}
header section.wrapper nav.right div.search a {
	width: 100%;
}
header section.wrapper nav.right div.cart a {
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
}
header section.wrapper nav.right div img {
	width: 100%;
}
header section.wrapper nav.right div.cart img {
	width: 50%;
}

#spotlight {
	background-image: url(../assets/serum_hero.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 700px 800px;
}
#spotlight section.wrapper {
	padding: 220px 0;
	display: flex;
	justify-content: flex-end;
}
#spotlight div {
	width: 52%;
}
#spotlight div.right span.title {
	font-size: 18px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#spotlight div.right h1 {
	font-size: 128px;
	line-height: 0.9em;
	margin-bottom: 25px;
	font-family: 'Inter-Black';
	
}
#spotlight div.right p {
	font-size: 18px;
	margin-bottom: 40px;
	line-height: 1.3em;
}
#spotlight div.right a.button {
	margin-right: 20px;
	color: #fff;
	font-size: 13px;
}
#spotlight div.right a.button.buy_now {
	background: #fe8e0b;
	padding: 18px 60px;
	border-radius: 8px ;
	/* border-right: 30px solid white;
	border-top: 50px solid transparent; */
}
#spotlight div.right a.button.explore {
	background: #3a2929;
	padding: 18px 60px;
	border-radius: 8px;
}

#brands {
	background: #f7f5f1;
	height: 130px;
	display: flex;
	align-items: center;
}
#brands ul.brands {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#brands ul.brands li {
	width: 12%;
	margin-right: 100px;
}
#brands ul.brands li.ebay {
	width: 10%;
}
#brands ul.brands li.cisco {
	width: 7%;
}
#brands ul.brands li.uber {}
#brands ul.brands li.microsoft {
	width: 16%;
	margin-right: 0;
}
#brands ul.brands li img {
	display: block;
	width: 100%;
}

#about {
	margin: 100px 0;
}
#about section.wrapper {
	display: flex;
	position: relative;
}
#about div.left {
	width: 67%;
	background: #dedddc;
	padding: 150px 70px;
	border-radius: 20px;
}
#about h2.about {
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 15px;
}
#about p.about_start {
	display: inline-block;
	margin-bottom: 20px;
	
}
#about p.about_end {
	margin-bottom: 15px	;
}
#about section.wrapper div.left div.button {
	/* clip-path: polygon(0 0, 99% 0, 60% 100%, 0% 100%); 
	background-color:#000;
	width: 400px;
	height: 200px; */

}
#about div.right {
	width: 36%;
	height:592px;
	border-radius: 8px;
	position: absolute;
	right: 0;
}
#about div.right img {
	border-radius: 20px;
	display: block;
	width: 100%;
	height: 100%;
}

#blog {
	text-align: center;
	margin: 100px 0;
}
#blog h3.blog {
	font-size: 56px;
	font-weight: 600;
	margin-bottom: 50px;
}
#blog section.wrapper {
	display: flex;
	justify-content: space-between;
}
#blog section.wrapper section.best_award {
	width: 33%;
}
#blog section.wrapper section.best_award div.image_container {
	width: 90%;
	height :250px;
	margin: 0 auto;
}
#blog section.wrapper section.best_award div.image_container img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
#blog section.wrapper section.best_award h5 {
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
}
#blog section.wrapper section.best_award p {}

footer {
	background: #d9dade;
	padding: 120px 0;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}
footer section.wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
footer section.wrapper div.contact {
	text-align: center;
	margin-right: 170px;
}
footer section.wrapper div.contact a.logo {
	display: block;
	width: 130px;
	margin: 0 auto; 
	margin-bottom: 20px;
}
footer section.wrapper div.contact a.logo img {
	display: block;
	width: 100%;
}
footer section.wrapper div.contact a.email {
	display: block;
	margin-bottom: 15px;
	font-size: 13px;
}
footer section.wrapper div.contact a.mob_number {
	font-size: 13px;
}
footer section.wrapper div.contact ul.social {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
footer section.wrapper div.contact ul.social li {
	background-color: #fe8e0b;
	width: 30px;
	height: 30px;
	margin-right: 15px;
	margin-bottom: 0;
	border-radius: 6px;
}
footer section.wrapper div.contact ul.social li.twt {
	margin-right: 0;
}
footer section.wrapper div.contact ul.social li a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer section.wrapper div.contact ul.social li a img {
	filter:invert(100%);
	width: 70%;
}
footer section.wrapper ul.blog, .about, .product {
	margin-right: 170px;
}
footer section.wrapper ul li {
	margin-bottom: 15px;
}
footer section.wrapper ul li:last-child {
	margin-bottom: 0;
}
footer section.wrapper ul li h4 {
	font-size: 20px;
	font-weight: 600;
}
footer section.wrapper ul li a {
	font-size: 13px;
}
footer div.image {
	/* max-width: 400px;
	max-height:480px; */
	/* width: 20%;  */
	height: 315px;  
	overflow: hidden;
	position: absolute;
	right: -38px;
	top: 60px;
} 
footer div.image img {
	width: 100%;
	display: block;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	/* margin: -10px -100px -150px -150px; */
}

















