* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'Inter'/*, Arial, Helvetica, sans-serif*/;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width: 100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display: none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

@font-face {
    font-family: 'Inter-Thin';
    src: url('../fonts/Inter-Thin.woff2') format('woff2'),
        url('../fonts/Inter-Thin.woffss') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Semibold';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.woff2') format('woff2'),
        url('../fonts/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('../fonts/Inter-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Black';
    src: url('../fonts/Inter-Black.woff2') format('woff2'),
        url('../fonts/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inria Serif';
    src: url('../fonts/InriaSerif-Bold.woff2') format('woff2'),
        url('../fonts/InriaSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

header {
	font-family: 'Inter-Medium';

}
header section.wrapper {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header section.wrapper h1.logo {
	width: 170px;
}
header section.wrapper h1.logo a.logo {
	width: 100%;
}
header section.wrapper h1.logo a.logo img {
	width: 100%;
}
header section.wrapper nav.middle {}
header section.wrapper nav.middle ul {
	display: flex;
	justify-content: space-between;
}
header section.wrapper nav.middle ul li {
	margin-right: 50px;
}
header section.wrapper nav.middle ul:last-child {
	margin-right: 0;
}
header section.wrapper nav.middle ul li a {
	font-size: 16px;
	font-weight: 500;
}
header section.wrapper nav.right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header section.wrapper nav.right div.search {
	margin-right: 30px;
	width: 20px;
}
header section.wrapper nav.right div.search a {
	width: 100%;
}
header section.wrapper nav.right div.cart {
	background: #fe8e0b;
	width: 40px;
	height: 38px;
	border-radius: 6px;
}
header section.wrapper nav.right div.cart a {
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
}
header section.wrapper nav.right div a img {
	width: 100%;
}
header section.wrapper nav.right div.cart a img {
	width: 50%;
}

#spotlight {
	background-image: url(../assets/serum_hero.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 700px 800px;
	font-family: 'Inter-Medium';
}
#spotlight section.wrapper {
	padding: 220px 0;
	display: flex;
	justify-content: flex-end;
}
#spotlight div {
	width: 48%;
}
#spotlight div.right span.title {
	font-size: 17px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 40px;
}
#spotlight div.right h1 {
	font-family: 'Inria Serif';
	font-size: 110px;
	margin-bottom: 10px;
}
#spotlight div.right p {
	font-size: 17px;
	margin-bottom: 42px;
	line-height: 1.4em;
}
#spotlight div.right div.button {
	display: flex;
}
#spotlight div.right div.button a div.buy_now {
	background: #fe8e0b;
	color: #fff;
    font-size: 0.7em; 
	width: 150px;
    height: 50px;
	padding-left: 20px;
    position: relative;
	border-radius: 8px 0 6px 8px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin-right: 45px; 
}
#spotlight div.right div.button a div.buy_now:after {
	background: #fe8e0b;
	border-radius: 0 10px 6px 0;
	content: "";
	  height: 50px;
	  position: absolute;
	  right: -13px;
	  top: 0;
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
	width: 25px;
}

#spotlight div.right div.button a div.explore {
	background: #000;
	color: #fff;
    font-size: 0.7em; 
	width: 150px;
    height: 50px;
	padding-right: 20px;
    position: relative;
	border-radius: 6px 8px 8px 0;
    display: flex;
	justify-content:center;
	align-items: center;
}
#spotlight div.right div.button a div.explore:after {
    background: #000; 
	border-radius: 6px 0 0 10px;
	  content: "";
	  height: 50px;
	  position: absolute;
	  left: -13px;
	  top: 0;
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
	width: 25px;
}

#brands {
	background: #f7f5f1;
	height: 130px;
	display: flex;
	align-items: center;
}
#brands ul.brands {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#brands ul.brands li {
	width: 12%;
	margin-right: 100px;
}
#brands ul.brands li.ebay {
	width: 10%;
}
#brands ul.brands li.cisco {
	width: 7%;
}
#brands ul.brands li.uber {}
#brands ul.brands li.microsoft {
	width: 16%;
	margin-right: 0;
}
#brands ul.brands li img {
	display: block;
	width: 100%;
}

#about {
	margin: 100px 0;
	font-family: 'Inter-Medium';
}
#about section.wrapper {
	display: flex;
	position: relative;
}
#about div.left {
	width: 67%;
	background: #dedddc;
	padding: 150px 70px;
	border-radius: 20px 0 0 20px;
}
#about h2.about {
	font-family: 'Inter-Semibold';
	font-size: 58px;
	margin-bottom: 15px;
}
#about p.about_start {
	margin-bottom: 20px;
	letter-spacing: 0.03em; 
	font-size: 16px;
}
#about p.about_end {
	margin-bottom: 20px	;
	letter-spacing: 0.03em;
	font-size: 16px;
}
#about section.wrapper div.left a.button div.view {
	background: #000;
	color: #fff;
    font-size: 0.7em; 
	width: 150px;
    height: 50px;
	padding-left: 20px;
    position: relative;
	border-radius: 8px 0 6px 8px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin-right: 45px; 
}
#about section.wrapper div.left a.button div.view:after {
	background: #000;
	border-radius: 0 10px 6px 0;
	content: "";
	  height: 50px;
	  position: absolute;
	  right: -13px;
	  top: 0;
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
	width: 25px;
}
#about div.right {
	width: 36%;
	height:629px;
	border-radius: 8px;
	position: absolute;
	right: 0;
}
#about div.right img {
	border-radius: 20px;
	display: block;
	width: 100%;
	height: 100%;
}

#features { 
	font-family: 'Inter-Medium';
}

#features section.wrapper { 
	display: flex;
	flex-direction: column;
}

#features section.wrapper section.nourish { 
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

#features section.wrapper section.nourish div.image { 
	width: 44%;
}

#features section.wrapper section.nourish div.image img { 
	width: 100%;
}

#features section.wrapper section.nourish div.content { 
	width: 54%;
}

#features section.wrapper section.nourish div.content div.curve { 
	width: 95%;
	margin: 0 0 0 5%;
	margin-bottom: 100px;
}

#features section.wrapper section.nourish div.content div.curve img { 
	width: 100%;
}

#features section.wrapper section.nourish div.content h2 {
	font-family: 'Inter-Semibold'; 
	font-size: 56px;
	font-weight: 600;
	margin-bottom: 20px;
}

#features section.wrapper section.nourish div.content p.start { 
	margin-bottom: 20px;
	letter-spacing: 0.02em;
}

#features section.wrapper section.nourish div.content p.end { 
 	margin-bottom: 26px;
	 letter-spacing: 0.02em;

}
#features section.wrapper section div a.button div {
	background: #000;
	color: #fff;
    font-size: 0.7em; 
	width: 150px;
    height: 50px;
	padding-left: 20px;
    position: relative;
	border-radius: 8px 0 6px 8px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin-right: 45px; 
}

#features section.wrapper section div a.button div:after {
	background: #000;
	border-radius: 0 10px 6px 0;
	content: "";
	  height: 50px;
	  position: absolute;
	  right: -13px;
	  top: 0;
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
	width: 25px;
}

#features section.wrapper section.nourish div.content div.button a.button { 
	color: #fff;	
	font-size: 14px;
}

#features section.wrapper section.natural { 
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

#features section.wrapper section.natural div.content { 
	width: 54%;
}

#features section.wrapper section.natural div.content div.curve { 
	width: 95%;
	margin: 0 5% 0 0;
	margin-bottom: 100px;
}

#features section.wrapper section.natural div.content div.curve img { 
	width: 100%;	
}

#features section.wrapper section.natural div.content h2 { 
	font-family: 'Inter-Semibold'; 
	font-size: 56px;
	font-weight: 600;
	margin-bottom: 20px;
	width: 50%;
}

#features section.wrapper section.natural div.content p.start { 
	margin-bottom: 20px;
	letter-spacing: 0.02em;
}

#features section.wrapper section.natural div.content p.end { 
	margin-bottom: 26px;
	letter-spacing: 0.02em;
}

#features section.wrapper section.natural div.content div.button {
	width: 150px;
	height: 50px;  
	background: #000;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transform: perspective(150px) rotateX(-20deg);
    transform-origin: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
 }
#features section.wrapper section.natural div.content div.button a.button { 
	color: #fff;	
	font-size: 14px;
}

#features section.wrapper section.natural div.image { 
	width: 44%;
}

#features section.wrapper section.natural div.image img { 
	width: 100%;
}

#explore { 
	margin-bottom: 200px;
}

#explore section.wrapper { 
	display: flex;
	justify-content: space-between;
}

#explore section.wrapper div.image { 
	width: 48%;
}

#explore section.wrapper div.image img { 
	width: 100%;
}

#explore section.wrapper div.content { 
	width: 50%;
}

#explore section.wrapper div.content div.curve { 
	width: 95%;
	margin: 0 0 0 5%;
	margin-bottom: 200px;
}

#explore section.wrapper div.content div.curve img { 
	width: 100%;
}

#explore section.wrapper div.content h2 { 
	font-family: 'Inter-Semibold'; 
	font-size: 56px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-left: 90px;
}

#explore section.wrapper div.content form.explore { 
	margin-left: 90px; 
}

#explore section.wrapper div.content form.explore input { 
	padding: 20px 0 20px 16px;
	background-color: #fafafa;
	font-size: 16px;
	font-family: 'Inter-Medium'; 
	border-radius: 6px;
}
#explore section.wrapper div.content form.explore input[type=submit] { 
	color: #fff;
	background: #000;
	padding: 20px 26px;
	margin-left: 13px;
}

#blog {
	font-family: 'Inter-Medium';
	text-align: center;
	margin: 100px 0;
}
#blog h3.blog {
	font-family: 'Inter-Semibold'; 
	font-size: 56px;
	font-weight: 600;
	margin-bottom: 50px;
}
#blog section.wrapper {
	display: flex;
	justify-content: space-between;
}
#blog section.wrapper section.best_award {
	width: 33%;
}
#blog section.wrapper section.best_award div.image_container {
	width: 90%;
	height :250px;
	margin: 0 auto;
}
#blog section.wrapper section.best_award div.image_container img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
#blog section.wrapper section.best_award h5 {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#blog section.wrapper section.best_award p {
	font-size: 16px;
	font-family: 'Inter-Medium';
}

footer {
	background: #d9dade;
	font-family: 'Inter-Medium';
	padding: 120px 0;
	position: relative;
	z-index: 1; 
}
footer section.wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
footer section.wrapper div.contact {
	text-align: center;
	margin-right: 170px;
}
footer section.wrapper div.contact a.logo {
	display: block;
	width: 130px;
	margin: 0 auto; 
	margin-bottom: 20px;
}
footer section.wrapper div.contact a.logo img {
	display: block;
	width: 100%;
}
footer section.wrapper div.contact a.email {
	display: block;
	margin-bottom: 15px;
	font-size: 13px;
}
footer section.wrapper div.contact a.mob_number {
	font-size: 13px;
}
footer section.wrapper div.contact ul.social {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
footer section.wrapper div.contact ul.social li {
	background-color: #fe8e0b;
	width: 30px;
	height: 30px;
	margin-right: 15px;
	margin-bottom: 0;
	border-radius: 6px;
}
footer section.wrapper div.contact ul.social li.twt {
	margin-right: 0;
}
footer section.wrapper div.contact ul.social li a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer section.wrapper div.contact ul.social li a img {
	filter:invert(100%);
	width: 70%;
}
footer section.wrapper ul.blog, .about, .product {
	margin-right: 170px;
}
footer section.wrapper ul li {
	margin-bottom: 13px;
}
footer section.wrapper ul li:last-child {
	margin-bottom: 0;
}
footer section.wrapper ul li h4 {
	font-size: 22px;
	font-family: 'Inter-Medium';

}
footer section.wrapper ul li a {
	font-size: 13px;
}
footer div.image {
	width: 300px;
	height: 300px;
	background-image: url(../assets/haircare_combo1.jpg);
	background-repeat: no-repeat;
	background-size: 87%;
	transform:scaleX(-1);
	position: absolute;
	right: 0;
	top:60px;
}

@media all and (max-width:1280px) {
	header section.wrapper {
		height: 100px;
	}
	#brands ul.brands li {
		width: 12%;
		margin-right: 80px;
	}
	#blog section.wrapper section.best_award p {
		width: 95%;
	}
	footer section.wrapper div.contact {
		margin-right: 150px;
	}
	footer section.wrapper ul.blog, .about, .product {
		margin-right: 130px;
	}
}
@media all and (min-width:980px) {
	header section.wrapper {
		height: 100px;
	}
	#spotlight div.right h1 {
		font-size: 90px;
	}
	#brands ul.brands li {
		width: 12%;
		margin-right: 80px;
	}
	#about div.left {
		padding: 125px 70px;
	}
	#about div.right {
		height: 630px;
	}
	#features section.wrapper section.nourish div.content div.curve {
		margin-bottom: 15px;
	}
	#features section.wrapper section.nourish div.content h2 {
		font-size: 50px;
		margin-bottom: 15px;
	}
	#features section.wrapper section.nourish div.content p.start {
		margin-bottom: 5px;
	}
	#features section.wrapper section.nourish div.content p.end {
		margin-bottom: 10px;
	}
	#features section.wrapper section.natural div.content div.curve {
		margin-bottom: 15px;
	}
	#features section.wrapper section.natural div.content h2 {
		font-size: 50px;
		margin-bottom: 15px;
		width: 70%;
	}
	#features section.wrapper section.natural div.content p.start {
		margin-bottom: 5px;
	}
	#features section.wrapper section.natural div.content p.end {
		margin-bottom: 10px;
	}
	#explore { 
		margin-bottom: 120px;
	}
	#explore section.wrapper div.content div.curve {
		margin-bottom: 120px;
	}
	#explore section.wrapper div.content h2 {  
		font-size: 45px;
		margin-left: 30px;
	}
	#explore section.wrapper div.content form.explore { 
		margin-left: 30px; 
	}
	#explore section.wrapper div.content form.explore input { 
		padding: 17px 0 17px 16px;

	}
	#explore section.wrapper div.content form.explore input[type=submit] { 
		padding: 17px 18px;
		margin-left: 5px;
	}
	#blog section.wrapper section.best_award p {
		width: 95%;
		font-size: 15px;
	}
	footer section.wrapper div.contact {
		margin-right: 80px;
	}
	footer section.wrapper ul.blog, .about, .product {
		margin-right: 70px;
	}
	footer div.image {
		width: 280px;
		height: 280px;
		top:75px;
	}
}
















